* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root {

    --color-body: #F3F5FC;
    --fuente: 'Inter', sans-serif;
    --colorFuente: #0A3871;
    --color-blanco: #FFF;
    --color-aside: #495057;
    --color-negro: #343a40;

}

body {
    margin: 0;
    padding: 0;
    background: var(--color-body);
    font-family: var(--fuente);

}

.container {
    margin: auto;
    width: 1440px;
    height: 1024px;
    padding: 5px;
}

.logo {

    width: 100%;
    float: left;
}

.logo-img {

    margin-top: 1%;
    margin-left: 5%;
    float: inherit;

}

.left {

    width: 70%;
    height: 75%;
    float: left;
    border-radius: 24px;


}

.left_text {

    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    color: var(--colorFuente);
    font-size: 32px;
    border: none;
    outline: none;
    background: var(--color-body);

}

.left_button {

    float: left;
    width: 70%;
    border-radius: 24px;
}

#btnEncriptar,
#btnDesencriptar {

    width: 30%;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    margin-left: 15%;
    background: #D8DFE8
}

#btnEncriptar,
#btnDesencriptar:hover {

    background: #0A3871;
    color: var(--color-blanco)
}


.right-img {
    width: 30%;
    height: 90%;
    float: right;
    border-radius: 24px;
    background: var(--color-blanco);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.08);
    /*da sombra*/
    background-image: url(/imagenes/muneco.png);
    background-repeat: no-repeat;
    background-size: 80%;
    display: block;
    margin-top: 0px;

}

.right_title {
    margin-top: 75%;
    text-align: center;
}

#resultado {
    float: left;
    margin-top: 1%;
    color: var(--colorFuente);
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 16px;

}

.copiarTexto {

    resize: none;
    color: var(--colorFuente);
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;

}

::placeholder {

    text-align: center;
    font-size: 16px;
    color: var(--colorFuente);
    font-weight: bold;


}

#bcopiar {

    width: 35%;
    font-weight: 20px;
    font-size: 16px;
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    display: block;
    margin: auto;
    background: #D8DFE8;
    display: none;

}

#bcopiar:hover {

    background: #0A3871;
    color: var(--color-blanco)
}